In [17]:
import pandas as pd
import numpy as np

#load dataframe from csv
sale_to_list = pd.read_csv("data/zip/sale_to_list.csv", delimiter='	')

#print dataframe shape
shape = sale_to_list.shape
print('\nDataFrame Shape :', shape)

print(sale_to_list.columns)

DataFrame Shape : (1556, 104)

In [52]:
print(sale_to_list["August 2020"].describe())
print("\n")
print(sale_to_list["April 2020"].describe())

count    1339.000000
mean       99.586482
std         2.821165
min        70.300000
25%        98.700000
50%        99.800000
75%       100.500000
max       119.400000
Name: August 2020, dtype: float64


count    1316.000000
mean       99.615805
std         3.835475
min        69.400000
25%        98.300000
50%        99.600000
75%       100.500000
max       124.600000
Name: April 2020, dtype: float64

In [58]:
#load dataframe from csv
all_data = pd.read_csv("data/zip/data_all_tab.csv", delimiter='	')
print('\n all_data DataFrame Shape :', all_data.shape)
print(all_data.columns)

 all_data DataFrame Shape : (137166, 20)
Index(['Region', 'Month of Period End', 'Median Sale Price',
       'Median Sale Price MoM ', 'Median Sale Price YoY ', 'Homes Sold',
       'Homes Sold MoM ', 'Homes Sold YoY ', 'New Listings',
       'New Listings MoM ', 'New Listings YoY ', 'Inventory', 'Inventory MoM ',
       ' Inventory YoY ', 'Days on Market', 'Days on Market MoM',
       'Days on Market YoY', 'Average Sale To List',
       'Average Sale To List MoM ', 'Average Sale To List YoY '],
      dtype='object')
                 Month of Period End  Median Sale Price  \
Region
Zip Code: 90001                  103                103
Zip Code: 90002                  103                103
Zip Code: 90003                  103                103
Zip Code: 90004                  103                103
Zip Code: 90005                  103                103
...                              ...                ...
Zip Code: 96148                  103                103
Zip Code: 96150                  103                103
Zip Code: 96155                   40                 40
Zip Code: 96161                  103                103
Zip Code: 96162                  102                102

                 Median Sale Price MoM   Median Sale Price YoY   Homes Sold  \
Region
Zip Code: 90001                     103                     103         103
Zip Code: 90002                     103                     103         103
Zip Code: 90003                     103                     103         103
Zip Code: 90004                     103                     103         103
Zip Code: 90005                     103                     103         103
...                                 ...                     ...         ...
Zip Code: 96148                     103                     103         103
Zip Code: 96150                     103                     103         103
Zip Code: 96155                      31                      15          40
Zip Code: 96161                     103                     103         103
Zip Code: 96162                     101                     100         102

                 Homes Sold MoM   Homes Sold YoY   New Listings  \
Region
Zip Code: 90001              103              103           103
Zip Code: 90002              103              103           103
Zip Code: 90003              103              103           103
Zip Code: 90004              103              103           103
Zip Code: 90005              103              103           103
...                          ...              ...           ...
Zip Code: 96148              103              103           103
Zip Code: 96150              103              103           103
Zip Code: 96155               31               15            18
Zip Code: 96161              103              103           103
Zip Code: 96162              101              100           102

                 New Listings MoM   New Listings YoY   Inventory  \
Region
Zip Code: 90001                103                103        103
Zip Code: 90002                103                103        103
Zip Code: 90003                103                103        103
Zip Code: 90004                103                103        103
Zip Code: 90005                103                103        103
...                            ...                ...        ...
Zip Code: 96148                103                103        103
Zip Code: 96150                103                103        103
Zip Code: 96155                 11                  3         23
Zip Code: 96161                103                103        103
Zip Code: 96162                101                 97         99

                 Inventory MoM    Inventory YoY   Days on Market  \
Region
Zip Code: 90001             103              103             103
Zip Code: 90002             103              103             103
Zip Code: 90003             103              103             103
Zip Code: 90004             103              103             103
Zip Code: 90005             103              103             103
...                         ...              ...             ...
Zip Code: 96148             103              103             103
Zip Code: 96150             103              103             103
Zip Code: 96155              17                3              40
Zip Code: 96161             103              103             103
Zip Code: 96162              96               93             102

                 Days on Market MoM  Days on Market YoY  Average Sale To List  \
Region
Zip Code: 90001                 103                 103                   103
Zip Code: 90002                 103                 103                   103
Zip Code: 90003                 103                 103                   103
Zip Code: 90004                 103                 103                   103
Zip Code: 90005                 103                 103                   103
...                             ...                 ...                   ...
Zip Code: 96148                 103                 103                   103
Zip Code: 96150                 103                 103                   103
Zip Code: 96155                  31                  15                    40
Zip Code: 96161                 103                 103                   103
Zip Code: 96162                 101                 100                   102

                 Average Sale To List MoM   Average Sale To List YoY
Region
Zip Code: 90001                        103                        103
Zip Code: 90002                        103                        103
Zip Code: 90003                        103                        103
Zip Code: 90004                        103                        103
Zip Code: 90005                        103                        103
...                                    ...                        ...
Zip Code: 96148                        103                        103
Zip Code: 96150                        103                        103
Zip Code: 96155                         31                         15
Zip Code: 96161                        103                        103
Zip Code: 96162                        101                        100

[1556 rows x 19 columns]

In [63]:
aug20 = all_data[(all_data['Month of Period End'] == "August 2020")]
aug20.describe()

,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
count,1.340000e+03,1319.000000,1299.000000,1340.000000,1319.000000,1299.000000,1310.000000,1291.000000,1274.000000,1288.000000,1262.000000,1268.000000,1338.000000,1317.000000,1297.000000,1339.000000,1318.000000,1298.000000
mean,7.529000e+05,2.104094,10.558968,74.367910,23.100986,11.269284,89.287786,6.398916,7.237363,43.983696,-4.463074,-24.542271,45.663677,-3.394837,-3.067849,99.586482,0.341502,0.165948
std,5.762580e+05,12.121911,30.693015,72.029253,31.439338,67.471023,78.431621,20.761045,48.667231,45.682332,27.568237,57.201589,46.115726,27.510024,47.531325,2.821165,1.232969,3.834602
min,5.000000e+04,-61.500000,-94.200000,1.000000,-66.700000,-94.100000,1.000000,-66.700000,-85.700000,1.000000,-83.300000,-93.300000,2.000000,-323.000000,-353.000000,70.300000,-13.700000,-96.800000
25%,4.100000e+05,-0.400000,2.100000,20.000000,7.600000,-17.400000,25.250000,-2.250000,-16.900000,14.000000,-18.475000,-54.400000,22.000000,-5.000000,-11.000000,98.700000,0.000000,-0.300000
50%,6.020000e+05,1.000000,7.000000,55.000000,18.700000,-0.400000,73.000000,5.500000,-1.000000,33.000000,-5.900000,-37.500000,37.000000,-1.000000,-4.000000,99.800000,0.300000,0.400000
75%,8.880000e+05,4.000000,12.450000,108.250000,31.400000,18.200000,131.000000,14.000000,19.275000,58.000000,4.475000,-15.075000,52.000000,1.000000,4.000000,100.500000,0.700000,1.100000
max,6.335000e+06,192.500000,474.200000,523.000000,400.000000,1100.000000,532.000000,200.000000,450.000000,482.000000,200.000000,600.000000,678.000000,237.000000,667.000000,119.400000,15.500000,28.900000

In [64]:
mar20 = all_data[(all_data['Month of Period End'] == "March 2020")]
mar20.describe()

,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
count,1.324000e+03,1305.000000,1268.000000,1324.000000,1305.000000,1268.000000,1297.000000,1277.000000,1243.000000,1282.000000,1264.000000,1239.000000,1322.000000,1302.000000,1267.000000,1324.000000,1305.000000,1268.000000
mean,7.229902e+05,2.434100,9.265694,53.612538,0.611494,14.839274,73.739399,24.697024,0.940386,48.634165,5.904035,-13.789669,57.726929,-4.811828,-5.531176,99.302719,0.400307,0.556782
std,5.954760e+05,17.382291,53.507230,49.500500,26.047003,56.329707,65.132012,28.862499,40.099091,50.018883,27.832376,40.813979,58.600228,35.693685,45.340536,3.889977,1.614443,3.002768
min,5.000000e+03,-82.500000,-79.400000,1.000000,-75.000000,-88.900000,1.000000,-66.700000,-78.900000,1.000000,-75.000000,-90.900000,5.000000,-676.000000,-352.000000,55.600000,-17.100000,-41.600000
25%,3.900000e+05,-1.100000,-0.025000,15.000000,-10.100000,-11.800000,23.000000,11.100000,-17.650000,15.000000,-7.325000,-36.250000,27.000000,-13.000000,-21.000000,98.200000,0.000000,-0.100000
50%,5.840000e+05,0.700000,5.800000,43.000000,0.000000,4.300000,61.000000,21.100000,-5.600000,36.000000,1.700000,-22.100000,45.000000,-5.000000,-8.000000,99.350000,0.300000,0.700000
75%,8.460000e+05,4.500000,11.200000,78.000000,7.700000,26.300000,107.000000,33.300000,10.850000,65.000000,15.400000,0.000000,66.000000,0.000000,5.000000,100.300000,0.800000,1.500000
max,8.790000e+06,359.800000,1613.700000,431.000000,300.000000,600.000000,501.000000,400.000000,500.000000,587.000000,400.000000,400.000000,836.000000,474.000000,558.000000,121.800000,12.900000,22.200000