In [14]:
import pandas as pd
import numpy as np

#load dataframe from csv
merged_sales = pd.read_csv("data/zip/merged_sales_stats.csv", delimiter='	')

#print dataframe shape
shape = merged_sales.shape
print('\nDataFrame Shape :', shape)

print(merged_sales.columns)

DataFrame Shape : (137166, 23)
Index(['Unnamed: 0', 'Zip Code', 'Month of Period End', 'Median Sale Price',
       'Median Sale Price MoM ', 'Median Sale Price YoY ', 'Homes Sold',
       'Homes Sold MoM ', 'Homes Sold YoY ', 'New Listings',
       'New Listings MoM ', 'New Listings YoY ', 'Inventory', 'Inventory MoM ',
       ' Inventory YoY ', 'Days on Market', 'Days on Market MoM',
       'Days on Market YoY', 'Average Sale To List',
       'Average Sale To List MoM ', 'Average Sale To List YoY ',
       'record_month', 'PSSF'],
      dtype='object')

The merged_sales_statistics file has all the statistics as columns and zip codes and dates as the rows. I tried to transpose these but it got weird. So let's get some stuff from the merged_sales:

In [16]:
zip90001 = merged_sales[merged_sales['Zip Code'] == 90001] #zip codes are ints
zip90001.head(2)

,Unnamed: 0,Zip Code,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,...,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY,record_month,PSSF
0,0,90001,February 2012,175000,0.0,-7.9,55,-17.9,-6.8,90.0,...,-15.1,-13.5,62.0,27.0,-17.0,95.7,-0.8,-4.5,Zip Code: 900012012-02-01,140.0
1,1,90001,March 2012,165000,-5.7,-8.3,60,9.1,-1.6,92.0,...,-3.3,-5.4,61.0,-1.0,10.0,96.1,0.5,-3.2,Zip Code: 900012012-03-01,145.0

In [19]:
august19 = merged_sales[merged_sales['Month of Period End'] == "August 2019"] #months are strings
august20 = merged_sales[merged_sales['Month of Period End'] == "August 2020"] #months are strings

print(august19.describe())
print(august20.describe())

          Unnamed: 0      Zip Code  Median Sale Price  Median Sale Price MoM   \
count    1348.000000   1348.000000       1.348000e+03             1312.000000
mean    69028.495549  93250.560831       7.094755e+05                0.486280
std     39658.775500   1754.995177       5.381335e+05               12.616848
min        90.000000  90001.000000       4.800000e+04              -74.200000
25%     34713.250000  92013.750000       3.800000e+05               -1.725000
50%     69217.500000  93265.500000       5.770000e+05                0.000000
75%    103509.000000  94938.250000       8.550000e+05                2.100000
max    137153.000000  96162.000000       6.000000e+06              270.300000

       Median Sale Price YoY    Homes Sold  Homes Sold MoM   Homes Sold YoY   \
count             1297.000000  1348.000000      1312.000000      1297.000000
mean                 3.858443    74.256677         0.674848         0.304086
std                 24.936598    68.278259        23.560175        38.703745
min                -77.300000     1.000000       -75.000000       -87.500000
25%                 -3.500000    16.750000        -9.200000       -15.800000
50%                  2.200000    58.000000        -0.800000        -2.900000
75%                  7.100000   110.000000         6.025000        10.100000
max                543.100000   433.000000       300.000000       500.000000

       New Listings  New Listings MoM   ...    Inventory  Inventory MoM   \
count   1311.000000        1274.000000  ...  1313.000000     1281.000000
mean      88.387490          -5.530769  ...    66.061691       -0.376737
std       76.202268          20.164718  ...    63.951678       21.554225
min        1.000000         -75.000000  ...     1.000000      -80.000000
25%       27.000000         -14.300000  ...    21.000000      -10.900000
50%       70.000000          -6.400000  ...    50.000000       -1.700000
75%      132.000000           0.000000  ...    91.000000        6.800000
max      504.000000         300.000000  ...   552.000000      300.000000

        Inventory YoY   Days on Market  Days on Market MoM  \
count      1275.000000     1347.000000         1311.000000
mean          7.631451       48.662955            1.544622
std          56.664043       45.229537           26.718309
min         -90.000000        1.000000         -273.000000
25%         -19.500000       24.000000           -2.000000
50%          -2.000000       41.000000            1.000000
75%          20.000000       56.000000            5.000000
max        1000.000000      654.000000          373.000000

       Days on Market YoY  Average Sale To List  Average Sale To List MoM   \
count         1296.000000           1348.000000                1312.000000
mean             7.536265             99.470178                  -0.179497
std             40.008438              4.338202                   1.789749
min           -344.000000             78.400000                 -33.800000
25%             -2.000000             98.200000                  -0.400000
50%              5.000000             99.300000                   0.000000
75%             14.000000            100.100000                   0.200000
max            385.000000            179.000000                  10.800000

       Average Sale To List YoY          PSSF
count                1297.000000  1348.000000
mean                   -0.750347   416.347923
std                     3.664452   251.008457
min                   -27.500000    29.000000
25%                    -1.500000   229.750000
50%                    -0.400000   368.000000
75%                     0.300000   515.250000
max                    81.300000  1785.000000

[8 rows x 21 columns]
          Unnamed: 0      Zip Code  Median Sale Price  Median Sale Price MoM   \
count    1340.000000   1340.000000       1.340000e+03             1319.000000
mean    69327.984328  93261.859701       7.529000e+05                2.104094
std     39723.734861   1757.312329       5.762580e+05               12.121911
min       102.000000  90001.000000       5.000000e+04              -61.500000
25%     35149.500000  92022.500000       4.100000e+05               -0.400000
50%     69525.500000  93286.000000       6.020000e+05                1.000000
75%    103927.250000  94945.250000       8.880000e+05                4.000000
max    137165.000000  96162.000000       6.335000e+06              192.500000

       Median Sale Price YoY    Homes Sold  Homes Sold MoM   Homes Sold YoY   \
count             1299.000000  1340.000000      1319.000000      1299.000000
mean                10.558968    74.367910        23.100986        11.269284
std                 30.693015    72.029253        31.439338        67.471023
min                -94.200000     1.000000       -66.700000       -94.100000
25%                  2.100000    20.000000         7.600000       -17.400000
50%                  7.000000    55.000000        18.700000        -0.400000
75%                 12.450000   108.250000        31.400000        18.200000
max                474.200000   523.000000       400.000000      1100.000000

       New Listings  New Listings MoM   ...    Inventory  Inventory MoM   \
count   1310.000000        1291.000000  ...  1288.000000     1262.000000
mean      89.287786           6.398916  ...    43.983696       -4.463074
std       78.431621          20.761045  ...    45.682332       27.568237
min        1.000000         -66.700000  ...     1.000000      -83.300000
25%       25.250000          -2.250000  ...    14.000000      -18.475000
50%       73.000000           5.500000  ...    33.000000       -5.900000
75%      131.000000          14.000000  ...    58.000000        4.475000
max      532.000000         200.000000  ...   482.000000      200.000000

        Inventory YoY   Days on Market  Days on Market MoM  \
count      1268.000000     1338.000000         1317.000000
mean        -24.542271       45.663677           -3.394837
std          57.201589       46.115726           27.510024
min         -93.300000        2.000000         -323.000000
25%         -54.400000       22.000000           -5.000000
50%         -37.500000       37.000000           -1.000000
75%         -15.075000       52.000000            1.000000
max         600.000000      678.000000          237.000000

       Days on Market YoY  Average Sale To List  Average Sale To List MoM   \
count         1297.000000           1339.000000                1318.000000
mean            -3.067849             99.586482                   0.341502
std             47.531325              2.821165                   1.232969
min           -353.000000             70.300000                 -13.700000
25%            -11.000000             98.700000                   0.000000
50%             -4.000000             99.800000                   0.300000
75%              4.000000            100.500000                   0.700000
max            667.000000            119.400000                  15.500000

       Average Sale To List YoY          PSSF
count                1298.000000  1340.000000
mean                    0.165948   431.162687
std                     3.834602   257.225991
min                   -96.800000    58.000000
25%                    -0.300000   240.750000
50%                     0.400000   379.000000
75%                     1.100000   530.250000
max                    28.900000  1867.000000

[8 rows x 21 columns]

In [21]:


#load dataframe from csv
merged_bedroom_data = pd.read_csv("data/zip/merged_bedrooms.csv", delimiter='	')
print(merged_bedroom_data.shape)
print(merged_bedroom_data.columns)

(1688, 682)
Index(['Unnamed: 0', 'Zip Code', 'June 2009 1bd', 'July 2009 1bd',
       'August 2009 1bd', 'September 2009 1bd', 'October 2009 1bd',
       'November 2009 1bd', 'December 2009 1bd', 'January 2010 1bd',
       ...
       'December 2019 5bd', 'January 2020 5bd', 'February 2020 5bd',
       'March 2020 5bd', 'April 2020 5bd', 'May 2020 5bd', 'June 2020 5bd',
       'July 2020 5bd', 'August 2020 5bd', 'September 2020 5bd'],
      dtype='object', length=682)

In [27]:
# let's get all bedrooms for all zipcodes for August 2020
aug2020_bedrooms = pd.DataFrame(merged_bedroom_data, columns=["Zip Code", "August 2020 1bd", "August 2020 2bd", "August 2020 3bd", "August 2020 4bd", "August 2020 5bd"])

In [28]:
# what's our dataframe look like?
aug2020_bedrooms.head(5)

,Zip Code,August 2020 1bd,August 2020 2bd,August 2020 3bd,August 2020 4bd,August 2020 5bd
0,94109,852358.0,1359790.0,2061146.0,4374846.0,6729337.0
1,90250,495890.0,646922.0,698144.0,782495.0,902262.0
2,94565,227150.0,333446.0,368518.0,514257.0,669362.0
3,90046,595040.0,1058531.0,1919896.0,2830699.0,3621369.0

In [30]:
pd.options.display.float_format = '{:.4f}'.format
# how do we find out things about just 4 bedroom houses in Aug 2020?
aug2020_bedrooms["August 2020 4bd"].describe()

count      1550.0000
mean     845059.2310
std      738127.1771
min       69945.0000
25%      401323.7500
50%      621232.5000
75%      985655.7500
max     6528913.0000
Name: August 2020 4bd, dtype: float64

In [49]:
''' 
now for our demographic info, it's from 2019 so not super up to date, but pretty close and there's a lot of it
'''
demographics = pd.read_csv("data/zip/ca_demographics.csv", delimiter='	')
zip_to_county = pd.read_csv("data/zip/zip_to_county.csv", delimiter='	')

print(demographics.shape) # a lot of blank columns

for ind in demographics.columns:
    print(ind)

(41, 207)
Geo_FILEID
Geo_STUSAB
Geo_GEOCOMP
Geo_LOGRECNO
Geo_US
Geo_REGION
Geo_DIVISION
Geo_STATECE
Geo_STATE
Geo_COUNTY
Geo_COUSUB
Geo_PLACE
Geo_TRACT
Geo_BLKGRP
Geo_CONCIT
Geo_AIANHH
Geo_AIANHHFP
Geo_AIHHTLI
Geo_AITSCE
Geo_AITS
Geo_ANRC
Geo_CBSA
Geo_CSA
Geo_METDIV
Geo_MACC
Geo_MEMI
Geo_NECTA
Geo_CNECTA
Geo_NECTADIV
Geo_UA
Geo_UACP
Geo_CDCURR
Geo_SLDU
Geo_SLDL
Geo_VTD
Geo_ZCTA3
Geo_ZCTA5
Geo_SUBMCD
Geo_SDELM
Geo_SDSEC
Geo_SDUNI
Geo_UR
Geo_PCI
Geo_TAZ
Geo_UGA
Geo_PUMA5
Geo_PUMA1
Geo_GEOID
Geo_NAME
Geo_BTTR
Geo_BTBG
Geo_FIPS
Geo_QName
SE_A00001_001
SE_A00002_001
SE_A00002_002
SE_A00002_003
SE_A00003_001
SE_A00003_002
SE_A00003_003
SE_A10008_001
SE_A10008_002
SE_A10008_003
SE_A10008_004
SE_A10008_005
SE_A10008_006
SE_A10008_007
SE_A10008_008
SE_A10008_009
SE_A10003_001
SE_A12002_001
SE_A12002_002
SE_A12002_003
SE_A12002_004
SE_A12002_005
SE_A12002_006
SE_A12002_007
SE_A12002_008
SE_A12003_001
SE_A12003_002
SE_A12003_003
SE_A17002_001
SE_A17002_002
SE_A17002_003
SE_A17002_004
SE_A17002_005
SE_A17002_006
SE_A17002_007
SE_A17005_001
SE_A17005_002
SE_A17005_003
SE_A14001_001
SE_A14001_002
SE_A14001_003
SE_A14001_004
SE_A14001_005
SE_A14001_006
SE_A14001_007
SE_A14001_008
SE_A14001_009
SE_A14001_010
SE_A14001_011
SE_A14001_012
SE_A14001_013
SE_A14001_014
SE_A14001_015
SE_A14001_016
SE_A14001_017
SE_A10026_001
SE_A10026_002
SE_A10026_003
SE_A10026_004
SE_A10026_005
SE_A10026_006
SE_A10026_007
SE_A10026_008
SE_A10026_009
SE_A10026_010
SE_A10026_011
SE_A10026_012
SE_A10026_013
SE_A10026_014
SE_A10026_015
SE_A10026_016
SE_A10026_017
SE_A10026_018
SE_A10026_019
SE_A10026_020
SE_A10026_021
SE_A10026_022
SE_A10026_023
SE_A14024_001
SE_A14028_001
SE_A10001_001
SE_A10060_001
SE_A10060_002
SE_A10060_003
SE_A10044_001
SE_A10044_002
SE_A10044_003
SE_A10047_001
SE_A10047_002
SE_A10047_003
SE_A10047_004
SE_A10035_001
SE_A10035_002
SE_A10035_003
SE_A10035_004
SE_A10035_005
SE_A10035_006
SE_A10035_007
SE_A10035_008
SE_A10035_009
SE_A10035_010
SE_A18001_001
SE_A18001_002
SE_A18001_003
SE_A18001_004
SE_A18001_005
SE_A18001_006
SE_A18001_007
SE_A18001_008
SE_A18001_009
SE_A18002_001
SE_A18002_002
SE_A18002_003
SE_A18002_004
SE_A18002_005
SE_A18002_006
SE_A18003_001
SE_A18010_001
SE_A18010_002
SE_A18010_003
SE_A18010_004
SE_A18010_005
SE_A18010_006
SE_A18010_007
SE_A13004_001
SE_A13004_002
SE_A13004_003
SE_A13004_004
SE_A13004_005
SE_A13004_006
SE_A13004_007
SE_A09001_001
SE_A09001_002
SE_A09001_003
SE_A09001_004
SE_A09001_005
SE_A09001_006
SE_A09001_007
SE_A09001_008
SE_A09001_009
SE_A09001_010
SE_A08001_001
SE_A08001_002
SE_A08001_003
SE_A08001_004
SE_A08001_005
SE_A08001_006
SE_A08002B_007
SE_A08002B_001
SE_A08002B_002
SE_A08002B_003
SE_A08002B_004
SE_A08002B_005
SE_A08002B_006

Most of the column names are gibberish, so we'll need to use the [ca_demographics_key.txt](data/zip/ca_demographics_key.txt) to make sense of them.

In [37]:
zip_to_county.columns # more straightforward

Index(['Zip Code', 'State', 'County'], dtype='object')

In [84]:
'''
Ok, so let's find out some things about 90001, more or less.
First, which county is it in?
Then, what's that county like?
'''

county90001 = zip_to_county[zip_to_county['Zip Code'] == 90001].iloc[0]['County']
print(county90001)

Los Angeles County

In [85]:

#convoluted, but it works
density = demographics[demographics['Geo_NAME'] == county90001]['SE_A00002_002']
print(density)

10   2473.7873
Name: SE_A00002_002, dtype: float64

So LA is urban. Wow. Mind blown :)
Slightly more interesting: what's the gini co-efficient of LA?

In [93]:
print(demographics[demographics['Geo_NAME'] == county90001].iloc[0]['SE_A14028_001'])

0.494

What percentage of houses are owner occupied?

In [91]:
owner = demographics[demographics['Geo_NAME'] == county90001].iloc[0]['SE_A10060_002']
renter = demographics[demographics['Geo_NAME'] == county90001].iloc[0]['SE_A10060_003']

print(owner / (owner + renter))

0.4541608305256763


We have a lot of this same data for zip codes but it's older. After next week we can bring it in if we think it's worth doing :)